<header [ngClass]="themeColor === 'white' ? 'white-theme' : 'black-theme'">
  <div class="flex-container header-container">
      <div class="flex-container header-info-container">
        <div class="flex-container header-items-outer-container">
          <div class="flex-container header-items-inner-container hides">
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Account</a>
            <a href="#">Pages</a>
            <a href="#">Blog</a>
            <a href="#">Docs/Components</a>
          </div>
        </div>
        <div class="flex-container header-main-container">
          <a href="#" class="flex-container avatar-container hides"><img [src]='imageSources?.user_image' class="flex-container circle margin-right-v1"><span>My Account</span></a>
          <a href="#" class="hides"><img [src]='imageSources?.carbon_favorite_image'></a>
          <a href="#"><img [src]='imageSources?.shopping_card_image' class="flex-container circle margin-right-v1"></a>
          <!--TODO: make a shopping_card_white.png with material badge-->
          <a href="#" class="hidden"><img [src]='imageSources?.bx_menu_alt_right_image'></a>
          <!--TODO: this is out of container in mobile version - fix it-->
          <!--TODO: black/white change icon colour-->
        </div>
      </div>
  </div>
</header>
