<div class="flex-container header-container">
    <div class="flex-container header-info-container">
      <div class="flex-container header-items-outer-container">
        <div class="flex-container header-items-inner-container">
          <a href="#">Home</a>
          <a href="#">Shop</a>
          <a href="#">Account</a>
          <a href="#">Pages</a>
          <a href="#">Blog</a>
          <a href="#">Docs/Components</a>
        </div>
      </div>
      <div class="flex-container header-main-container">
        <a href="#" class="flex-container avatar-container"><img src='../../../assets/images/user.png' class="flex-container circle"><span class="text-class">My Account</span></a>
        <a href="#"><img src='../../../assets/images/carbon_favorite.png'></a>
        <a href="#"><img src='../../../assets/images/shopping_card.png' class="flex-container circle"></a>
      </div>
    </div>
</div>
