*{
    box-sizing: border-box;
}

.logo-button {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  padding: 16px 46px;
  background-color: white;
  color: #2091F9;
  cursor: pointer;
  border: 1px solid blue;
}

.mat-button-toggle {
  padding: 0px 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
  background-color: transparent;
  border: none !important;
  color: #737373;
  cursor: pointer;
}
.mat-button-toggle:hover {
    background-color: transparent;
    color: #2091F9 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 3px solid blue !important;
}

.mat-button-toggle-checked {
  padding: 0px 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
  background-color: transparent !important;
  color: #2091F9 !important;
  cursor: pointer;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid blue !important;
}

.mat-button-toggle-group {
  border: none !important;
}
.flex-container {
  display: flex;
}

.home-container {
  flex-direction:column;
  align-items: center;
  height: 196rem;
  overflow: hidden;
}

.logo-container {
  flex: 54;
  width: 90.25rem;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  position: relative;
}

.logo-container img {
  object-fit: contain;
  margin-top: -130px;
  width: 100%;
  height: auto;
}

.logo-container h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}

.logo-container h1 {
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
}

.logo-container h4 {
  font-size: 20.465px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 35.814px; /* 175% */
  letter-spacing: 0.256px;
}

.white {
  color:white;
}

//TODO: in rem everywhere

.category-button {
  color: var(--Light-text, #FFF);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.10);
  padding: 16px 46px;
  cursor: pointer;
}

.logo-overlay-content {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.category-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.categories-container {
  flex: 42;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.category-container {
  position: relative;
  margin: 15px;
}

.row-container {
  flex-direction: row;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid white;
  box-shadow: 0px 2px 4px 0px #0000001A;

}

.rectangle {
  height: 29px;
  padding: 0 8px 1px 8px;
  border: 1px solid black;
  margin-right: 5px;
}

.size-text {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.featured-products-container {
  flex: 27;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-top: 1px solid #E9E9E9;
}

.featured-choice-container {
  flex-direction: row;
}

.featured-items-container {
  padding-top: 40px;
  flex-direction: row;
  padding-bottom: 40px;
}

.featured-item-container {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;

}

.featured-item-container img {
  width: 242px;
  height: 414px;
  border-radius: 10px;
}

.featured-item-container h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.featured-item-container h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.20000000298023224px;
}

.latest-products-container {
  flex:auto;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 80px;
  border-top: 1px solid #E9E9E9;
  align-items: center;
}

.latest-items-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-items-container .featured-items-container img {
  width: 242px;
  height: 180px;
  border-radius: 0px;
}


.featured-products-container h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}

.latest-products-container h3 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
