<div class="row">
  <div class="col-md-4">
    <h1>TMS Shop</h1>
    <hr><br>
    <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
    <ng-template #doSomething>
      <p>You logged in <em>{{user.email}}!</em></p>
      <button mat-raised-button color="primary" (click)="logOut()">Log out</button>
    </ng-template>
    <ng-template #doSomethingElse>
      <button mat-raised-button color="primary" [routerLink]="['/account/login']">Log in</button>
      <button mat-raised-button color="primary" [routerLink]="['/account/register']">Sign up</button>
    </ng-template>
  </div>
</div>
<!--TODO: move logout to headers-->
