app-header{
  position: absolute;
  z-index: 1000; /* ensure the header appear above other elements */
  top:0;
  width: 90.25rem;
  left: 50%;   /* Position the left edge of the header at the horizontal center */
  transform: translateX(-50%);
}

app-footer {
  bottom: 0;
}

router-outlet {
  position: relative; /* to ensure it stacks below the header */
  z-index: 1; /* to ensure the router outlet content appears above the background (if any) of the header */
}
